# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
_literature/
_archive/
_site/
analyses/_site/
analyses/_data/
PSPAP-Population-Assessment-Robust-Design/
_data/
_ouput/
_photos/

*.neta
*.sav
*.jpg
*.JPG
*.mov
*.mp4
# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# OFFICE FILES
*.xlsx
*.docx
*.pptx
*.accdb

# DATA FILES

*.rdata
*.rds

# NPP FILES
*.SESSION

# MARK FILES
*.inp
*.res
*.vcv
*.out
*.tmp

# BUG FILES
inits*.txt
coda*.txt
script.txt
data.txt
*.bug

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
